# 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [15]:
Dob = int(input ('enter the year of birth: '))
years_list=[Dob]
for i in range(1,6):
    print(i)
    years_list.append((Dob+i))
    print(years_list)

enter the year of birth: 1990
1
[1990, 1991]
2
[1990, 1991, 1992]
3
[1990, 1991, 1992, 1993]
4
[1990, 1991, 1992, 1993, 1994]
5
[1990, 1991, 1992, 1993, 1994, 1995]

# 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [21]:
#Third birth day year- 
thrid_birth_year= years_list[3]
print(thrid_birth_year)

1993

# 3.In the years list, which year were you the oldest?

In [22]:
oldest= years_list[-1]  ## last year
print(oldest)

1995

# 4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [25]:
things= []
things.append('mozzarella')
print(things)
things.append('cinderella')
print(things)
things.append('salmonella')
print(things)

## OR

['mozzarella']
['mozzarella', 'cinderella']
['mozzarella', 'cinderella', 'salmonella']

In [26]:
things=[]
for i in range(0,3):
    strings= input(i)
    things.append(strings)

0mozzarella
1cinderella
2salmonella

In [27]:
print(things)

['mozzarella', 'cinderella', 'salmonella']

In [28]:
things

['mozzarella', 'cinderella', 'salmonella']

# 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [29]:
things[1]= 'CINDERELLA'
things
# yes it did change the element in th list

['mozzarella', 'CINDERELLA', 'salmonella']

# 6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [31]:
surprise=[]
for i in range(0,3):
    strings= input(i)
    surprise.append(strings)
    print(surprise)

0Groucho
['Groucho']
1Chico
['Groucho', 'Chico']
2Harpo
['Groucho', 'Chico', 'Harpo']

# 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [41]:
surprise[-1][-1:-6:-1].capitalize()

'Oprah'

# 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [42]:
e2f= {'dog': 'chien', 'cat': 'chat','walrus':'morse'}

In [43]:
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

# 9. Write the French word for walrus in your three-word dictionary e2f.

In [44]:
e2f['walrus']

'morse'

# 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [54]:
e2f= {'dog': 'chien', 'cat': 'chat','walrus':'morse'}
f2e= {}
for key, value in e2f.items():
    if value in f2e:
        f2e[value].append(key)
    else:
        f2e[value]=[key]
# handles multiole same values

In [57]:
print (dict(f2e))

{'chien': ['dog'], 'chat': ['cat'], 'morse': ['walrus']}

# 11. Print the English version of the French word chien using f2e.

In [58]:
print(f2e['chien'])

['dog']

# 12. Make and print a set of English words from the keys in e2f.

In [60]:
print(e2f.keys())

dict_keys(['dog', 'cat', 'walrus'])

# 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [79]:
life = {'animals':{'cats':['Henri','Grumpy','Lucy'],'octopi':{},'emus':{}}, 'plants':{}, 'others':{}}

In [80]:
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'others': {}}

# 14. Print the top-level keys of life.

In [81]:
print(life.keys())

dict_keys(['animals', 'plants', 'others'])

# 15. Print the keys for life['animals'].

In [82]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

# 16. Print the values for life['animals']['cats']

In [83]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']