 1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

values | expression
-|-
'hello'|*
-87.8 |-
6 |/
 |+

2. What is the difference between string and variable?
Answer: String is a type of data that you can store in the form of variable.
variable is a information that contains different data types.

3. Describe three different data types.
Ans. (i) Character data type- it is stored in the form of strings between two "stings" or 'strings'.
(ii) integer data tyep - these are the numerical values with no decimal points, eg. 1, 10, 0, -1
(iii) float data type - these are the numerical values with decimal point, eg. 10.20, 0.26, 35.01,20.00
(iv) Complex data type - these are the complex number defined as eg. 3+ 6j

4. What is an expression made up of? What do all expressions do?
Answer: Expression is made up of mathematical operators, values, variables that are interpretes by the python to express and display the results between different data types.
some basic expression examples are given below:

In [2]:
2+3

5

In [3]:
5-6

-1

In [5]:
9**2

81

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
Answer:  A statement is an instruction that the Python interpreter can execute. 
in given example 'spam =10' is a statment which is interpreted by python to execute.
Expression : it is the mathematical operators that are that interpreted by python to give the desired output.

 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
Answer= variable will always contain bacon= 22, because the variable 'bacon' has not been reassigned any new value.

In [9]:
bacon= 22
print (bacon)

print (bacon + 1)
print (f' bacon value again: {bacon}') # no change in value

22
23
 bacon value again: 22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3
Answer:

In [12]:
answer= 'spam' + 'spamspam'
print ('spam' + 'spamspam') # concatenate the two different strings with addition operator
print ('spam' * 3) # concatenate the same strings with multiplication operator

spamspamspam
spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?
Answer: Beacuse a variable name can not start with a number, on the other hand it can start with alphabets, alphabet followed by number is also acceptale.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?
Answer: 'int' for integer, 'float' for floating-point number and 'str' for string vesrion of value.

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
Answer: this expression cause an error because we can not concatenate strings with integer. to fix this we have to change the integer data to a string as shown below:

In [13]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [14]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'