# Ques 1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

**Examples of the types of error are below**

In [ ]:
''' Que 1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.
# Ans. In our lectures till now we have enocuntered four types of errors namely: SyntexError, NameError, TypeError, ValueError
# SyntexError: It occure because of grammatical mistake in the python language.
# NameError : It occurs beacuse of  variable name is not defined and we are calling the variable in the code.
# TypeError : It occurs, if two differet types of data type are called for different types of mathematical opertaions without 
converting the data type into similar type of data.
# ValueError : It occurs if you enter a different type into another data type like in a int data type you are giving the value of a float data type.'''
ten =10

In [ ]:
print (ten

SyntaxError: ignored

In [ ]:
print (Ten)

NameError: ignored

In [5]:
a= 20
b = 'seven'
c = a + b
print (c)

TypeError: ignored

In [7]:
 a = input ('What is your age : ')
 b = int (input ('current year :'))
 c = b-a
 print (f'you were born on {c} ')

What is your age : 10.2
current year :2022.0

ValueError: ignored


# Que 2. Take input A and B and print their sum, mul, div, square of the nos.

In [13]:
# Ans 2
A = float (input ('Enter the value of A :' ))
B = float (input ('Enter the value of B :'))
C = float (A+B)
print(f'The sum of A and B is: {C}')
D = float (A*B)
print(f'The product of A and B is: {D}')
E = float (A/B)
print(f'The division of A and B is: {E}')
F = float (A**2)
G = float (B**2)
print(f'The square of A and B is: {F} and {G}')

Enter the value of A :20
Enter the value of B :39.75
The sum of A and B is: 59.75
The product of A and B is: 795.0
The division of A and B is: 0.5031446540880503
The square of A and B is: 400.0 and 1580.0625

# Que 3. How many reserve keywords are there in python and why we should not use them as a variable name.

#### Ans 3- The follwoing are the reserved keywords in python:
and as assert break class continue def del elif else except exec finally for from global 
if import in is  lambda  not  or  pass  print  raise  return  try  while  with  yield

In [14]:
'''we should not use them as varible because, once we use them in a varible during programming they will overwrite the value above 
the reserve finction intended use and later it will show TypeError'''

# Que 4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [15]:
firstname = input ('Please enter your first name:')
lastname = input (' Please enter your last name: ')
print (f'You entered your first name as {firstname} and last name as {lastname}')
print (f'You can have your email id as: {lastname}.{firstname}@gmail.com')

Please enter your first name:vaibhav
 Please enter your last name: jaiswal
You entered your first name as vaibhav and last name as jaiswal
You can have your email id as: jaiswal.vaibhav@gmail.com

# Que 5. Try to print the following lines -
*   Hi I'm Sunny
*   My address is 22\3
*   I earn 20$ daily






.

In [16]:
print ("""Hi I'am Sunny""")
print ("""My address is 22/3""")
print ("""I earn 20$ daily""")

Hi I'am Sunny
My address is 22/3
I earn 20$ daily

# Que 6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [20]:
name = input ('Plaese enter your name :')
address = input ('Please enter your place: ')
date_of_birth = input ('Please enter your DOB in ddmmyyyy format: ')
preferred_name = input ('Please enter your preferred name for email id:')
preferred_mail = input ("Please enter your preferred mail wesite name: ")
print(f'''Hey {name}, you live in {address} and you were born on {date_of_birth}. 
You choose to have  {preferred_name} as preferred name on your mail id as shown here : {preferred_name}_{date_of_birth}@{preferred_mail}.com''')

Plaese enter your name :Rakesh
Please enter your place: Haryana
Please enter your DOB in ddmmyyyy format: 23111989
 Please enter your preferred name for email id:rocky
Please enter your preferred mail wesite name: yahoo
Hey Rakesh, you live in Haryana and you were born on 23111989.
You choose to have  rocky as preferred name on your mail id as shown here : rocky_23111989@yahoo.com

# Que 7. Convert the following -
*   "22.4" into integer
*   "22" into complex no.

In [21]:
A = 22.4
print (int(A))

22

In [22]:
B= 22
print (complex (B))

(22+0j)