# Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [7]:
def is_symmetrical(num):
    currentDigit = 0 
    reversedDigit = 0
    remainingNum = num
    while (remainingNum!=0):
        currentDigit= remainingNum%10
        reversedDigit= reversedDigit*10+currentDigit
        print('Reveresed Digit :',reversedDigit)
        remainingNum = remainingNum // 10
        
    if reversedDigit == num:
        print('Num {} is symmetrical'.format(num))
    else:
        print('Num {} is not symmetrical'.format(num))

In [8]:
is_symmetrical(9939)

Reveresed Digit : 9
Reveresed Digit : 93
Reveresed Digit : 939
Reveresed Digit : 9399
Num 9939 is not symmetrical

In [10]:
is_symmetrical(1112111)

Reveresed Digit : 1
Reveresed Digit : 11
Reveresed Digit : 111
Reveresed Digit : 1112
Reveresed Digit : 11121
Reveresed Digit : 111211
Reveresed Digit : 1112111
Num 1112111 is symmetrical

# Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [13]:
def multiply_nums(string):
    string=string.split(',')
    mul=1
    for i in string:
        mul=mul*int(i)
    print(mul)

In [14]:
multiply_nums("1, 2, 3, 4")

24

In [15]:
multiply_nums("54, 75, 453, 0")

0

In [16]:
multiply_nums("10, -2")

-20

# Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [31]:
def square_digits(num):
    num= str(num)
    for i in num:
        new= (int(i)**2)
        print(new,end='')

In [32]:
square_digits(2483)

416649

In [33]:
square_digits(3212)

9414

In [34]:
square_digits(9119)

811181

# Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [37]:
def setify(lst):
    lst= tuple(lst)
    lst=set(lst)
    print(list(lst))

In [38]:
setify([4, 4, 4, 4])

[4]

In [39]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [40]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [41]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

# Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [50]:
def mean(num):
    num= str(num)
    length=len(num)
    total=0
    for i in num:
        total= total+int(i)
    print(int(total/length))

In [51]:
mean(12345)

3

In [52]:
mean(666)

6

In [53]:
mean(42)

3