# Question1
Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.
Examples
filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

filter_list(["Nothing", "here"]) ➞ []

In [9]:
def filter_list(lst):
    l=[]
    for i in range(0,len(lst)):
        if type(lst[i])==int:
            l.append(lst[i])
    print(l)

In [12]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [13]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [14]:
filter_list(["Nothing", "here"])

[]

# Question2
Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [17]:
def add_indexes(lst):
    l=[]
    for i in range(0,len(lst)):
        
        l.append(lst[i]+i)
        
    print(l)

In [18]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [21]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

# Question3
Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.
 
Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0

In [28]:
import math
def cone_volume(height,radius):
    volume= ((math.pi*radius**2)*height)/3
    return round(volume,2)

In [29]:
cone_volume(3, 2)

12.57

In [30]:
cone_volume(15, 6)

565.49

# Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the sequence.
Examples
triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

In [31]:
def triangle(n):
    return n*(n+1)*0.5

n = int(input('Enter the triangle number :'))
print("The {}th triangle has {} dots ".format(n,int(triangle(n))))

Enter the triangle number :10
The 10th triangle has 55 dots

In [32]:
triangle(215)

23220.0

# Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [34]:
def missing_num(lst):
    total = sum([x for x in range(11)])
    sum_Of_list = sum(lst)
    return total - sum_Of_list

In [35]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [36]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7