# 1.	Write a Python Program to Find the Factorial of a Number?

In [5]:
def fact(num):
    factorial= 1
    if num <0:
        print('Fatorial does not exist for number less than zero')
    elif num ==0 or num ==1:
        print ('Factorial for the 1 and zero is equal to 1')
    else:
        for i in range(1, num+1):
            factorial= factorial*i
        print('the factorial of the', num ,' is', factorial)

In [6]:
fact(9)

the factorial of the 9  is 362880

# 2.	Write a Python Program to Display the multiplication Table?

In [11]:
def multi_table(num):
    
    for i in range(1,11):
        table= num*i
        print('The table of', num, 'is', num ,'x',i,'=',table)

In [12]:
multi_table(3)

The table of 3 is 3 x 1 = 3
The table of 3 is 3 x 2 = 6
The table of 3 is 3 x 3 = 9
The table of 3 is 3 x 4 = 12
The table of 3 is 3 x 5 = 15
The table of 3 is 3 x 6 = 18
The table of 3 is 3 x 7 = 21
The table of 3 is 3 x 8 = 24
The table of 3 is 3 x 9 = 27
The table of 3 is 3 x 10 = 30

# 3.	Write a Python Program to Print the Fibonacci sequence?

In [15]:
def fibo(num,num1, num2):
    count=0
    if num <=0:
        print('please enter a positive integer')
    elif num==1:
        print('the fibonacci sequence upto', num, 'is :')
        print(num1)
    else:
        print ('fibonacci sequenece is :')
        while count <num:
            print(num1)
            nth= num1+num2
            # value needs to be updated
            num1= num2
            num2= nth
            count= count+1

In [18]:
fibo(2,0,1)

fibonacci sequenece is :
0
1

# 4.	Write a Python Program to Check Armstrong Number?

In [45]:
def armstrong(num):
    l=len(str(num))
    summation = 0
    temp= num
    while temp>0:
        remainder= temp%10
        summation= summation + remainder**l
        temp=temp//10
        
    if num == summation:
       print(num,"is an Armstrong number")
    else:
       print(num,"is not an Armstrong number")

In [46]:
armstrong(1456)

1456 is not an Armstrong number

# 5.	Write a Python Program to Find Armstrong Number in an Interval?

In [58]:
def armstrong_interval(lower,upper):
    print("Armstrong numbers between", lower, "and", upper, "are:")
    for num in range(lower, upper + 1):
        order = len(str(num))
        summation = 0
        temp = num
        while temp > 0:
            digit = temp % 10
            summation += digit ** order
            temp //= 10

        if num == summation:
           print(num)
lower_number = int(input("Enter a lower range number: "))
upper_number = int(input("Enter an upper range number: "))
armstrong_interval(lower_number,upper_number)

Enter a lower range number: 100
Enter an upper range number: 10000
Armstrong numbers between 100 and 10000 are:
153
370
371
407
1634
8208
9474

# 6.	Write a Python Program to Find the Sum of Natural Numbers?

In [62]:
def sum_natural(num):
    
    if num<=0:
        print('please enter a real positive number')
    else:
        count=0
        while (num>0):
            count= count+num
            num =num-1
        print('The summation if all natural number is: ',count)

In [65]:
sum_natural(390)

The summation if all natural number is:  76245